html,body,div,ul,li,ol,p,form,input,span,a,img,h1,h2,h3,h4,del,dl,dd,dt,textarea,label,fieldset{margin:0px;	padding:0px;}

html,body{ font-family:"微软雅黑"; font-size:14px; height:100%; color:#333;  background:url(../images/bg.gif) repeat-x center 33px #fff; }

ul,li,dt,dd{list-style:none; vertical-align:middle;}

img{border:none;vertical-align:top;}

a{text-decoration:none; color:#333;}
a:hover{text-decoration:underline; color:#ff5400;}

.fl{ float:left;}
.fr{ float:right;}

.hide{display:none}

/*首页*/
.w206{ margin:0; width:206px; height:auto; }
.wr{ margin:0; width:99.5%; height:auto;  }

.hy{ margin:0 auto; width:100%; height:216px; overflow:hidden; background:url(../images/hybg.gif) no-repeat bottom; text-align:center; color:#0c7cbe;}
.hy img{ display:block; margin:25px auto 0;}
.hy strong{ display:block; margin:10px auto; width:100%; font-size:18px; color:#fa7c00;  }

.dll{ margin:0 auto; padding-top:5px; width:184px; height:100%; overflow:hidden; border:#dfe0e4 1px solid; border-top:none;}

.dll dt { cursor: pointer; font-size: 15px; line-height:15px; background: #E5ECF9;border-top:1px solid #fff;border-bottom:1px solid #BFC7D9; font-weight: 400; color: #fff; padding: 8px 14px;}

.dll dd { margin:0; padding:20px 0;font-size:13px; background:#fbfbfb; padding: 0 15px;line-height:2em; text-align: center;}

.dll img{vertical-align:middle;margin-left:15px;}
.dll dt a{margin-left:10px;color:#0c7cbe;vertical-align:middle;}
dt:first-child { border-top: none; }
dt:nth-last-child(2) { border-bottom: none; }

.hidden { display: none;}



.menu{ margin:0 auto; position:relative; width:100%; height:auto; background:url(../images/navbg.png) repeat-y center; }
.area li{ margin:0 auto; width:100%; height:63px; background:url(../images/nav.gif) no-repeat bottom center; }
.area li span{ display:block; float:left; margin:18px 0 0 20px; _margin-left:10px; width:32px; height:30px; }
.area li a { display:block; margin-top:21px; padding-right:15px; width:125px; font-size:18px; color:#0c7cbe; float:right; text-decoration:none; }
.area li dl { width:194px; height:499px; overflow:hidden; display:none; position:absolute; top:3px; right:-196px; z-index:35533; border:1px solid #0c96db; background:#fff; OVERFLOW-y: scroll; scrollbar-face-color:#f6f4ef; scrollbar-arrow-color:#0074c4; scrollbar-highlight-color:#f6f4ef; scrollbar-3dlight-color:#aee0ff; scrollbar-shadow-color:#f6f4ef; scrollbar-darkshadow-color:#aee0ff; scrollbar-track-color:#f6f4ef;}
.area li dd{ margin-top:5px; width:100%; height:auto; overflow:hidden; background:url(../images/lidd.png) repeat-x; line-height:26px; }

.area li.lion {height:63px; background:url(../images/nav-h.png) no-repeat 6px bottom; }
.area li.lion a { color:#fff; }
.area li.lion dl {display:block;}
.area li.lion dl a { float:left; margin:0; padding-left:20px; color:#0c7cbe; font-size:14px; }
.area li.lion dl a:hover{ color:#fa7c00; font-weight:bold; }

.top{ margin:0 auto; width:99%; height:33px; line-height:33px; overflow:hidden; }
.top span{ float:left; margin:0; }
.top p{ float:right; margin:0; }
.top a{ float:left; margin-right:15px; padding-left:22px; }
.sz{ background:url(../images/sz.gif) no-repeat 0 8px;}
.tc{ background:url(../images/tc.gif) no-repeat 0 8px;}

.wz{ margin:0 auto; width:100%; height:34px; line-height:34px; overflow:hidden; ;background:url(../images/fancy_shadow_n.png) repeat-x left bottom;  }

.wz dt{ float:left; margin:0; padding-left:30px; background:url(../images/wz.gif) no-repeat 15px center; }
.wz dd{ float:right; margin-top:5px; padding-left:30px; height:23px; overflow:hidden; background:url(../images/sea.gif) no-repeat left center; }
.ipu{ float:left; margin:0; width:178px; height:21px; line-height:21px; border:#c1cad3 1px solid; background-color:#fff;}
.btn{ float:left; margin-left:10px; width:48px; height:23px; background:url(../images/cxbtn.gif) no-repeat; border:0;}

.tit{ margin-top:10px; width:99.9%; height:40px; line-height:40px; overflow:hidden; background:url(../images/tit.gif) no-repeat right center; }
.tit img{ float:left; }
.tit strong{ float:left; margin-left:20px; font-size:18px; color:#333; font-weight:600; }
.tit p{ float:right; margin:0; padding-right:30px; width:auto; height:auto; overflow:hidden;}
.tit p input{margin-top:9px; }

.main{ margin:0; width:99.8%; height:auto; line-height:auto; border:#d8d9d8 1px solid; }
.mh{ height:auto; scrollbar-face-color:#f6f4ef; scrollbar-arrow-color:#0074c4; scrollbar-highlight-color:#f6f4ef; scrollbar-3dlight-color:#aee0ff; scrollbar-shadow-color:#f6f4ef; scrollbar-darkshadow-color:#aee0ff; scrollbar-track-color:#f6f4ef; }
.h384{ height:100%; }

.xtsm{ margin:30px auto; width:96%; height:auto; overflow:hidden; line-height:28px; }
.xtsm strong{ color:#0c7cbe;}
.xtsm HR{border-top:#d8d9d8 1px solid; }
.xtsm img{ vertical-align:middle}

.cz { position:relative; height:65px; }
.cz td{ float:left; margin:0; padding:18px 10px;}
.cz td select{ float:left; border:#d8d9d8 1px solid; width:150px; height:24px; line-height:26px;}
.cz td label{ padding-left:20px; display:block; width:auto; float:left; margin:0; height:24px; overflow:hidden; line-height:24px; font-family:"微软雅黑"; color:#444;}

.btn{ margin-right:10px; width:55px; height:24px; line-height:24px; background:url(../images/btn.gif) no-repeat; border:0; cursor:pointer; font-size:12px; color:#fff;}
.btn1{ margin-right:10px; width:64px; height:24px; line-height:24px; background:url(../images/btn1.gif) no-repeat; border:0; cursor:pointer; font-size:12px; color:#fff;}
.gdcxbtn{ margin:0 10px; width:90px; height:24px; line-height:24px; background:url(../images/gdcx.gif) no-repeat; border:0; cursor:pointer; font-size:12px; color:#333;}

.gdcx{ position:absolute; top:45px; left:25px;  width:750px; height:auto; background:url(../images/cx-b.gif) no-repeat bottom center; }
.gdcx table{ margin:0 auto; width:100%; height:auto; }
.gdcx td{ margin-bottom:10px; padding:0; width:33%; height:auto; }
.gdcx td select{ float:left; border:#d8d9d8 1px solid; width:150px; height:24px; line-height:24px;}
.gdcx td input{ float:left; border:#d8d9d8 1px solid; width:148px; height:22px; line-height:22px;}
.gdcx td label{ padding:0; float:left; width:85px; text-align:right; line-height:26px; font-family:"微软雅黑"; color:#444;}

.list{ margin:25px auto; width:97%; overflow:hidden; background:#fff; border-top:#dcdcdc 1px solid; OVERFLOW-y: scroll; scrollbar-face-color:#f6f4ef; scrollbar-arrow-color:#0074c4; scrollbar-highlight-color:#f6f4ef; scrollbar-3dlight-color:#aee0ff; scrollbar-shadow-color:#f6f4ef; scrollbar-darkshadow-color:#aee0ff; scrollbar-track-color:#f6f4ef; }
.list th{ height:auto; line-height:36px; padding:5px 10px; overflow:hidden; font-size:12px; font-weight:bold; text-align:left; border-bottom:#dcdcdc 1px solid; background-color:#e9f9ff;}
.list td{ height:auto; line-height:36px; padding:5px 10px; overflow:hidden; text-align:left; border-bottom:#dcdcdc 1px solid;}
.list p{ margin:0; width:175px; height:auto; overflow:hidden;}
.list p span{ float:left; margin:0;}
.list label{ float:right; margin:0;}

.g1{ height:100%; }
.g2{ height:100%; }
.g3{ height:100%; }
.ipu1{ margin:0; width:80%; height:23px;border:#bee6fd 1px solid;}
.ipu2{ margin:0; width:80%; height:130px; border:#bee6fd 1px solid;}
.ipu3{ margin:0; width:100%; height:130px; border:#bee6fd 1px solid;}
.sel{ margin:0; width:80%; height:23px; border:#bee6fd 1px solid;}
.red{ color:#F00; margin:0 10px; }

.bot{margin:10px auto 0; width:100%; height:48px; line-height:48px; color:#fff; background:url(../images/bot.gif) repeat-x center; text-align:center; }
